@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

/* ---------- geniral rules ----------- */
:root {
  --main-color: rgb(255, 255, 255);
  --second-color: black;
  --transition: all 0.5s;
  --spicial: #2d67f7;
  --border: 1px solid rgba(184, 184, 184, 0.63);
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--main-color);
  text-transform: capitalize;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

ul {
  list-style: none;
}

section {
  position: relative;
  margin-bottom: 70px;
}

.about::after,
.skills::after,
.servics::after {
  content: "";
  background-color: black;
  width: 90%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

body {
  font-family: "Cairo", sans-serif;
  height: 5000px;
}

.main-title {
  font-family: inherit;
  width: 200px;
  height: 2.6em;
  line-height: 2.5em;
  margin: 35px auto;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--second-color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--second-color);
}

.main-title:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--second-color);
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

.main-title:hover {
  color: #fff;
}

.main-title:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.main-title:hover:before {
  top: -30px;
  left: -30px;
}

.main-title h2 {
  text-align: center;
  text-transform: uppercase;
}

/* ---------- enf of geniral rules ----------- */

/* ---------- nav bar start ----------- */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  background-color: rgb(29, 28, 28);
  box-shadow: 0 0 5px #f3f0f0cf;
  position: fixed;
  z-index: 88;
  margin-bottom: 60px;
}

.navigation .home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  color: var(--main-color);
  font-size: 35px;
  display: none;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.links a {
  position: relative;
}

.links a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: var(--transition);
}

.links a:hover:after {
  width: 100%;
}

.icon {
  font-size: 25px;
  transition: var(--transition);
}

.icon:hover {
  transform: scale(1.5);
}

/* ---------- nav bar end ----------- */

/* ---------- home start ----------- */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(12, 12, 12);
  height: 100vh;
  padding: 0 25px;
  padding-top: 65px;
}

.hero::before {
  content: "";
  background-image: url(../pics/last.png);
  background-size: 530px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  width: 50%;
  color: var(--main-color);
  margin-bottom: 10px;
  animation-name: fromleft;
  animation-duration: 1.2s;
}

.content::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  left: -14px;
  top: 0;
  background-color: var(--main-color);
}

.content h1,
.content h2 {
  font-size: 35px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.pic {
  height: 100%;
  width: 600px;
}

.pic img {
  width: 100%;
  height: 100%;
}

.btn {
  position: relative;
  margin-top: 40px;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 50px;
  display: inline-block;
  border-radius: 30px;
  transition: all 0.5s;
  border: none;
  font-weight: 600;
  color: black;
  background-color: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn::after {
  background-color: var(--main-color);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* ---------- home end ----------- */

/* ---------- about start ----------- */
.about {
  min-height: 150vh;
}

.about .content-sec {
  display: flex;
  flex-direction: column;
}

.top {
  min-height: 60vh;
  margin-bottom: 30px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  background-image: url(../pics/man\ on\ lap.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right center;
}

.top h2 {
  color: var(--spicial);
  letter-spacing: 1px;
}

.top p {
  color: black;
  font-weight: 600;
}

.top h4 span {
  color: var(--spicial);
  font-size: 23px;
}

.social-work,
.devlop {
  line-height: 2;
  position: relative;
  width: 55%;
}

.social-work::before,
.devlop::before {
  content: "";
  position: absolute;
  width: 5px;
  height: calc(100% - 18px);
  background-color: var(--spicial);
  left: -12px;
  top: 10px;
  z-index: 0;
}

.bottom {
  min-height: 70vh;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex-wrap: wrap;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  width: 300px;
  height: 350px;
  box-shadow: 2px 2px 7px 0px #666464ab;
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-10px);
}

.card i {
  font-size: 50px;
}

.html {
  color: #e54d26;
}

.css {
  color: #0b73ba;
}

.js {
  color: #d9b82d;
}

.card p {
  width: 95%;
  text-align: center;
}

/* ---------- about end ----------- */

/* ---------- skills start ----------- */

.skills {
  min-height: 100vh;
}

.skill-sec {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.skill-sec .left-sec {
  width: 35%;
}

.skill-sec .left-sec .pic {
  width: 100%;
  height: 100%;
}

.skill-sec img {
  width: 100%;
  height: 100%;
}

.skill-sec .right-sec {
  width: 75%;
  height: 300px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.right-sec .skill {
  width: 100%;
  margin: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skill .name {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name i {
  font-size: 40px;
}

.skills h3 {
  color: var(--second-color);
  font-size: 18px;
  font-weight: 700;
}

.progress {
  position: relative;
  width: 75%;
  height: 15px;
  border: var(--border);
  margin: 10px;
  border-radius: 15px;
}

.progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 15px;
  transition: width 0.5s linear;
}

.progress .html2 {
  background-color: #e54d26;
}

.progress .css2 {
  background-color: #0b73ba;
}

.progress .js2 {
  background-color: #d9b82d;
}

.others {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.card1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: var(--border);
  width: 280px;
  height: 170px;
  transition: var(--transition);
}

.card1:hover {
  background-color: var(--spicial);
  transform: translateY(-10px);
}
.card1 i {
  font-size: 45px;
  color: var(--spicial);
  transition: var(--transition);
}

.card1:hover i,
.card1:hover h4,
.card1:hover p {
  color: var(--main-color);
}

.card1 h4 {
  text-transform: uppercase;
  transition: var(--transition);
}

.card1 p {
  width: 90%;
  text-align: center;
  transition: var(--transition);
}

/* ---------- skills end ----------- */

/* ---------- services start ----------- */
.services {
  min-height: 100vh;
  width: 100%;
}

.services .cards {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.s-card {
  min-height: 350px;
  padding: 20px 40px;
  margin: 20px auto;
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  box-shadow: var(--shadow);
  gap: 40px;
}

.s-card .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.s-card h2::before {
  content: "➔";
  position: absolute;
  width: 5px;
  height: calc(100% - 18px);
  left: -28px;
  top: 2px;
  z-index: 0;
}

.s-card h4,
.s-card p,
.s-card h2 {
  position: relative;
  margin: 15px;
}

.s-card h4::before,
.s-card p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--spicial);
  left: -12px;
  top: 0px;
  z-index: 0;
}

.solve {
  flex-direction: row-reverse;
}

.fix img {
  width: 120%;
}

.s-card .pic {
  width: 70%;
  height: 100%;
}

.s-card .pic img {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
}

.second {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background-color: #e8e9e9b0;
}

.rules {
  margin: auto;
  width: 95%;
  border: var(--border);
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 10px;
  background-color: var(--main-color);
  margin-top: 15px;
}

.rules h3 {
  text-align: center;
  text-transform: uppercase;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 35px;
}

.steps .web,
.steps .pro,
.steps .add,
.steps .geniral {
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: 10px;
  background-color: var(--main-color);
  padding: 30px;
}

.steps div ul li {
  position: relative;
}

.steps div ul li::before {
  content: "➔";
  position: absolute;
  width: 5px;
  height: calc(100% - 18px);
  left: -20px;
  top: 2px;
  z-index: 0;
}

.steps .add,
.steps .pro {
  width: 45%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .web,
.steps .geniral {
  width: 95%;
}

/* ---------- services end ----------- */

/* ------------- animations ------------- */
@keyframes fromleft {
  from {
    opacity: 0;

    transform: translateX(-100%);
  }

  to {
    opacity: 1;

    transform: translateX(0%);
  }
}

@keyframes fromup {
  from {
    opacity: 0;

    transform: translateY(-100%);
  }

  to {
    opacity: 1;

    transform: translateY(0%);
  }
}

/* ----------- loader ------- */

.loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
  z-index: 9999;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  height: 200px;
  z-index: 999999;
  background-color: black;
  display: block;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  bottom: 50px;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 50%;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 20%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* ----------- loader ------- */

/* ----------- contact me ------- */
.cantact-me {
  min-height: 100vh;
}

.contact-me h4 {
  margin: 25px;
  text-align: center;
}
.contact-me .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.contact-me .contacts .card2 {
  width: 170px;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 5px;
  border-radius: 10px;
  border: var(--border);
  text-align: center;
  box-shadow: var(--shadow);
}
.contact-me .contacts .card2 i {
  font-size: 40px;
  color: var(--spicial);
}
.contact-me .contacts .card2 h4,
.contact-me .contacts .card2 p {
margin: 0;
}

.fa-square-whatsapp {
  color: #43bf51;
}

/* ----------- end of contact me ------- */

/* ----------- fuckin media queries ------- */

@media (min-width: 320px) and (max-width: 779px) {
  .links,
  .git {
    display: none;
  }

  .menu {
    display: block;
    transition: all 0.6s;
  }

  .mobile {
    text-align: center;
    position: absolute;
    right: 0;
    top: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: rgb(29, 28, 28);
    font-weight: 600;
    font-size: 25px;
    animation-name: fromup;
    animation-duration: 0.9s;
  }

  .links a {
    width: fit-content;
  }

  .hero {
    justify-content: center;
    align-items: flex-start;
  }

  .hero::before {
    display: none;
  }

  .content h1,
  .content h2 {
    font-size: 25px;
  }

  .content {
    width: 90%;
  }

  .top {
    background-image: none;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .social-work,
  .devlop {
    line-height: 2;
    position: relative;
    width: 95%;
  }

  .skill-sec {
    padding: 10px 10px;
    gap: 5px;
    flex-direction: column-reverse;
  }

  .skill-sec .left-sec {
    width: 60%;
  }

  .skill-sec .right-sec {
    width: 95%;
    height: 205px;
    border-radius: 8px;
    justify-content: center;
    padding: 5px;
  }

  .skill .name {
    width: 30%;
  }

  .name i {
    font-size: 30px;
  }

  .skills h3 {
    font-size: 13px;
    font-weight: 600;
  }

  .progress {
    height: 10px;
  }

  .s-card {
    padding: 5px 5px;
    margin: 8px auto;
    border-radius: 5px;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }

  .s-card .pic {
    width: 45%;
  }

  .s-card .text {
    text-align: center;
  }

  .s-card h4::before,
  .s-card p::before,
  .s-card h2::before {
    display: none;
  }

  .rules h4 {
    font-size: 15px;
  }

  .steps {
    gap: 10px;
    padding: 5px;
    flex-direction: column;
  }

  .second {
    width: 100%;
    display: flex;
    margin: 0px auto;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps .web,
  .steps .pro,
  .steps .add,
  .steps .geniral {
    padding: 0;
    padding-left: 25px;
    width: 98%;
    height: auto;
  }
}

/* ----------- fuckin media queries ------- */
